@import url('https://rsms.me/inter/inter.css');
@import url('https://use.typekit.net/cyw3eir.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
  --primary-color: #0070f4;
  --secondary-color: #666;
  --font-color: #000;
  --bg-color: #fff;
  --heading-color: #000;
  --highlight-color: #84ffb5;
  --hr-color: #eee;
  --writing-body: #444;
  --uses-secondary-color: #bbb;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #666;
  --font-color: #fff;
  --bg-color: #010101;
  --heading-color: #fff;
  --highlight-color: #f81de6;
  --hr-color: #222;
  --writing-body: #ccc;
}

::-moz-selection { background: var(--highlight-color); }
::selection { background: var(--highlight-color); }

html {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

* {
  transition: background .2s linear;
}

.top-menu {
  margin: 20px 10px 0;
}

.top-menu ul {
  margin: 3px 0 0 10px;
  padding: 0;
}

.top-menu ul li {
  display: inline-block;
  margin-right: 1px;
}

.top-menu ul li.logo a {
  font-size: 20px;
  margin: -7px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.top-menu ul li.logo a:hover {
  background: none;
  color: var(--heading-color);
  opacity: .3;
}

.top-menu ul li a {
  color: var(--heading-color);
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  padding: 0 0 3px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 10px 5px;
  border-radius: 4px;
}

.top-menu ul li a:hover {
  background: var(--heading-color);
  color: var(--bg-color);
}

.theme-switch-button {
  border: none;
  background: none;
  cursor: pointer;
  cursor: hand;
  color: var(--heading-color);
  outline: 0;
  margin-top: 5px;
}

.theme-switch-button svg {
  fill: var(--heading-color);
}

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

.blog-title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -.3rem;
  text-align: center;
  margin: 100px 0 50px;
}

.writing-row span {
  display: inline-flex;
  align-items: center;
}

.writing-row {
  padding: 20px;
}

.writing-row a {
  color: var(--font-color);
  display: block;
  transition: all .2s;
  text-decoration: none;
}

.writing-row a:hover {
  opacity: .2;
}

.writing-row .writing-date {
  padding-right: 20px;
  font-size: 14px;
  color: var(--secondary-color);
}

.writing-row .writing-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.9em;
}

.main-h1 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -.2rem;
  margin: 50px 0 30px;
}

.about-h1 {
  margin-bottom: 60px;
}

.writing-container h1,
.writing-container h2,
.writing-container h3,
.writing-container h4,
.writing-container h5,
.writing-container h6 {
  letter-spacing: -1px;
}

.writing-container img {
  width: 100%;
}

.writing-container ul {
  margin: 0;
  padding: 0 0 30px 20px;
  list-style: circle;
}

.writing-container ul li {
  padding: 4px 0;
  line-height: 1.8em;
  font-size: 20px;
  color: var(--writing-body);
}

.writing-container blockquote {
  border-left: 5px var(--highlight-color) solid;
  font-style: italic;
  margin: 0;
  padding: 0px 30px;
}

.writing-container p, .reviews-description {
  line-height: 1.8em;
  margin-bottom: 40px;
  font-size: 20px;
  color: var(--writing-body);
}

.writing-container *:not(pre) > code {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  background:var(--highlight-color);
  color: var(--heading-color);
  padding: 2px 7px 5px;
  border-radius: 4px;
  line-height: 1em;
  font-size: 16px;
  display: inline-flex;
}

hr {
  border: none;
  border-top: 1px var(--hr-color) solid;
  margin: 45px 0;
}

.writing-container a {
  color: var(--heading-color);
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 3px;
}

.back-button {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -1px;
  border: 1px var(--hr-color) solid;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
}

.back-button:hover {
  border-color: var(--secondary-color);
}

.copy-to-clipboard {
  text-align: right;
  padding-right: 15px;
  margin: -10px 0 25px;
}

.copy-to-clipboard button {
  background: none;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
  cursor: hand;
  outline: 0;
  padding: 0;
}

.copy-to-clipboard button:hover {
  color: var(--heading-color);
}

footer {
  text-align: center;
  font-size: 13px;
  padding: 100px 0;
  color: var(--secondary-color);
  line-height: 2em;
}

.author {
  margin-bottom: 40px;
}

.author a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: 500;
}

.author img {
  border-radius: 250px;
  margin-right: 10px;
  border: 2px var(--highlight-color) solid;
  padding: 3px;
}

.author * {
  display: flex;
  align-items: center;
}

.twitter-follow {
  border: 3px var(--highlight-color) dashed;
  padding: 30px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.9em;
}

.uses-intro, .about-intro {
  font-size: 20px;
  line-height: 1.8em;
  color: var(--secondary-color);
}

.uses-intro a, .about-intro a {
  color: var(--heading-color);
  text-decoration: none;
  border-bottom: 1px var(--heading-color) dashed;
}

.about-intro h3 {
  font-weight: 600;
}

.uses-list {
  list-style: none;
  margin: 40px 0 80px;
  padding: 0;
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-size: 16px;
}

.uses-list li.head {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 5px;
  display: inline-block;
}

.uses-list li:not(.head) {
  padding: 15px 0;
}

.uses-list li:not(.head):before {
  content: "//";
  color: var(--uses-secondary-color);
  padding-right: 10px;
}

.uses-list li:not(.head) {
  color: var(--uses-secondary-color);
}

.uses-list li:not(.head) a {
  color: var(--heading-color);
  font-weight: 600;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 3px;
}

.uses-list li:not(.head) a:hover {
  border-bottom: 1px var(--heading-color) dashed;
}

[data-icon="Next.js"] svg,
[data-icon="Zeit"] svg,
[data-icon="CoffeeScript"] svg {
  fill: var(--heading-color);
}

.stack-name {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-size: 13px;
  color: var(--heading-color);
}

/* Override scroll progress */
.writing-progress > div {
  background: var(--highlight-color) !important;
  margin: 0 -8px !important;
}

.pulse {
	background: var(--highlight-color);
	border-radius: 50%;
	height: 10px;
  width: 10px;
  display: inline-block;

	box-shadow: 0 0 0 0 var(--highlight-color);
	transform: scale(1.2);
  animation: pulse 2s infinite;
  margin: -7px 15px 0 0;
  vertical-align: middle;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--highlight-color);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media only screen and (max-width: 960px) {
  .top-menu ul li a {
    padding-left: 5px;
    padding-right: 5px;
  }

  .writing-row .writing-date {
    text-align: left;
    padding: 10px 0;
  }

  .uses-list li:not(.head) span {
    display: block;
    margin-top: 10px;
  }

  .uses-list li:not(.head) {
    padding-bottom: 25px;
  }

  .stack-name {
    font-size: 10px;
  }

  .text-transition {
    display: block !important;
  }

  .writing-row a {
    margin-top: 0;
  }

  .logo {
    display: none;
  }
}

.pr-reviews-img {
  width: 50%;
  display: block;
  margin: 50px auto;
  border: 1px var(--hr-color) solid;
  padding: 30px 15px;
  border-radius: 5px;
}

.reviews-list {
  list-style: none;
  padding: 0;
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-size: 16px;
}

.reviews-list li {
  padding: 5px 0 25px;
}

.reviews-list a, .reviews-list .point {
  color: var(--heading-color);
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
  display: block;
}

.reviews-what-to-do {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 5px;
  display: inline-block;
}

.happy-coding {
  margin-top: 50px;
}

.happy-coding span {
  display: block;
}

.happy-coding span:first-child {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-weight: 600;
}

.happy-coding span:last-child {
  font-family: Kalam;
  font-size: 30px;
  margin-top: 20px;
}
