@import url('https://use.typekit.net/cyw3eir.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
  --primary-color: #0070f4;
  --secondary-color: #09ded8;
  --dark-grey: #666;
  --text-color: #000;
  --background-color: #fff;
  --hr-color: #ddd;
  --article-text-color: #444;
  --uses-secondary-color: #bbb;
}

[data-theme="dark"] {
  /* --primary-color: #0070f4;
  --secondary-color: #09ded8; */
  --dark-grey: #666;
  --text-color: #fff;
  --background-color: #010101;
  --hr-color: #333;
  --article-text-color: #eee;
  /* --uses-secondary-color: #bbb; */
}

::-moz-selection, ::selection {
  background: var(--primary-color);
  color: #fff;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

* {
  transition: background .2s linear;
}

.top-menu {
  margin: 20px 10px 0;
}

.top-menu ul {
  margin: 3px 0 0 10px;
  padding: 0;
}

.top-menu ul li {
  display: inline-block;
  margin-right: 1px;
}

.top-menu ul li.logo a {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.top-menu ul li.logo img {
  width: 40px;
  border-radius: 250px;
  padding: 3px;
  border: 3px var(--primary-color) solid;
  transition: all .1s linear;
}

.top-menu ul li.logo a:hover {
  background: none;
}

.top-menu ul li.logo a:hover img {
  border-color: var(--secondary-color);
}

.top-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  padding: 4px 10px 6px;
  border-radius: 5px;
  letter-spacing: -.5px;
  font-weight: 500;
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  transition: all .2s linear;
}

.top-menu ul li a:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

.theme-switch-button {
  border: none;
  background: none;
  cursor: pointer;
  cursor: hand;
  color: var(--text-color);
  outline: 0;
  margin-top: 5px;
  position: fixed;
  top: 15px;
  right: 15px;
}

.theme-switch-button svg {
  fill: var(--text-color);
}

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-weight: 800;
}

.blog-title {
  font-weight: 800;
  font-size: calc(5vw + 5vh);
  text-align: center;
  margin: 100px 0 0;
  letter-spacing: -.05em;
  line-height: 1em;
  background: linear-gradient(45deg, var(--primary-color) 32.5%, var(--secondary-color) 50.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;
}

.entry-description {
  font-family: Kalam;
  margin-bottom: 50px;
  font-size: 22px;
  color: var(--dark-grey);
}

.writing-row span {
  display: inline-flex;
  align-items: center;
}

.writing-row {
  padding: 20px;
}

.writing-row a {
  color: var(--text-color);
  display: block;
  transition: all .2s;
  text-decoration: none;
}

.writing-row a:hover {
  opacity: .2;
}

.writing-row .writing-date {
  padding-right: 20px;
  font-size: 14px;
  color: var(--uses-secondary-color);
}

.writing-row .writing-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.9em;
}

.main-h1 {
  font-weight: 800;
  font-size: calc(4vw + 4vh);
  letter-spacing: -.2rem;
  margin: 50px 0 30px;
  background: linear-gradient(45deg, var(--primary-color) 32.5%, var(--secondary-color) 50.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  padding-bottom: 20px;
}

.writing-container h1,
.writing-container h2,
.writing-container h3,
.writing-container h4,
.writing-container h5,
.writing-container h6 {
  letter-spacing: -1px;
}

.writing-container img {
  width: 100%;
}

.writing-container ul {
  margin: 0;
  padding: 0 0 30px 20px;
  list-style: circle;
}

.writing-container ul li {
  padding: 4px 0;
  line-height: 1.8em;
  font-size: 20px;
  color: var(--article-text-color);
}

.writing-container blockquote {
  border-left: 5px var(--primary-color) solid;
  font-style: italic;
  margin: 0;
  padding: 0px 30px;
}

.writing-container p, .reviews-description {
  line-height: 1.8em;
  margin-bottom: 40px;
  font-size: 21px;
  color: var(--article-text-color);
}

.writing-container > p:first-child::first-letter {
  float: left;
  margin: 2px 0 0 -2px;
  padding: 10px 10px 0 0;
  font-weight: 800;
  font-size: 5.5rem;
}

.writing-container *:not(pre) > code {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  border: 1px var(--primary-color) dashed;
  color: var(--primary-color);
  padding: 4px 7px 7px;
  border-radius: 4px;
  line-height: 1em;
  font-size: 17px;
  display: inline-flex;
}

hr {
  border: none;
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

hr:before {
  content: '∿∿∿';
  font-size: 30px;
  color: var(--hr-color);
}

.writing-container a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 4px;
}

.back-button {
  color: var(--dark-grey);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -1px;
  border: 1px var(--dark-grey) solid;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
}

.back-button:hover {
  border-color: var(--dark-grey);
}

.copy-to-clipboard {
  text-align: right;
  padding-right: 15px;
  margin: -10px 0 25px;
}

.copy-to-clipboard button {
  background: none;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-grey);
  cursor: pointer;
  cursor: hand;
  outline: 0;
  padding: 0;
}

.copy-to-clipboard button:hover {
  color: var(--text-color);
}

footer {
  text-align: center;
  font-size: 13px;
  padding: 100px 0;
  color: var(--dark-grey);
  line-height: 2em;
}

.author {
  margin-bottom: 40px;
}

.author a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.author img {
  border-radius: 250px;
  margin-right: 10px;
  border: 2px var(--primary-color) solid;
  padding: 3px;
}

.author * {
  display: flex;
  align-items: center;
}

.hope-liked {
  font-family: Kalam;
  font-size: 21px;
  line-height: 1.9em;
  margin-top: 80px;
  text-align: right;
}

.uses-intro, .about-intro {
  font-size: 20px;
  line-height: 1.8em;
  color: var(--dark-grey);
}

.uses-intro a, .about-intro a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px var(--text-color) dashed;
}

.about-intro h3 {
  font-weight: 700;
}

.uses-list {
  list-style: none;
  margin: 40px 0 80px;
  padding: 0;
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-size: 16px;
}

.uses-list li.head {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-decoration-thickness: 5px;
  display: inline-block;
}

.uses-list li:not(.head) {
  padding: 15px 0;
}

.uses-list li:not(.head):before {
  content: "//";
  color: var(--uses-secondary-color);
  padding-right: 10px;
}

.uses-list li:not(.head) {
  color: var(--uses-secondary-color);
}

.uses-list li:not(.head) a {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 3px;
}

.uses-list li:not(.head) a:hover {
  border-bottom: 1px var(--text-color) dashed;
}

[data-icon="Next.js"] svg,
[data-icon="Zeit"] svg,
[data-icon="CoffeeScript"] svg {
  fill: var(--text-color);
}

.stack-name {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-size: 13px;
  color: var(--text-color);
}

/* Override scroll progress */
.writing-progress > div {
  background: var(--primary-color) !important;
}

.pulse {
	background: var(--primary-color);
	border-radius: 50%;
	height: 10px;
  width: 10px;
  display: inline-block;

	box-shadow: 0 0 0 0 var(--primary-color);
	transform: scale(1.2);
  animation: pulse 2s infinite;
  margin: -5px 15px 0 0;
  vertical-align: middle;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--primary-color);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.theme-switch-button-mobile {
  display: none;
}

@media only screen and (max-width: 960px) {
  .bottom-mobile-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--background-color);
    box-shadow: 0 -2px 15px var(--hr-color);
    left: 0;
    padding: 30px 0;
  }

  .theme-switch-button {
    display: none;
  }

  .back-button {
    border: none;
    background: none;
    cursor: pointer;
    cursor: hand;
    color: var(--text-color);
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .theme-switch-button-mobile {
    border: none;
    background: none;
    cursor: pointer;
    cursor: hand;
    color: var(--text-color);
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .back-button, .theme-switch-button-mobile {
    width: 50%;
    left: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    bottom: 20px;
    z-index: 9999;
  }

  .theme-switch-button-mobile {
    display: block;
    left: 50%;
    text-transform: uppercase;
  }

  .theme-switch-button-mobile svg {
    vertical-align: middle;
    margin: -5px 5px 0 0;
  }

  .theme-switch-button-mobile * {
    display: inline-flex;
    align-items: center;
  }

  .top-menu ul li a {
    padding-left: 7px;
    padding-right: 7px;
  }

  .writing-row .writing-date {
    text-align: left;
    padding: 10px 0;
  }

  .uses-list li:not(.head) span {
    display: block;
    margin-top: 10px;
  }

  .uses-list li:not(.head) {
    padding-bottom: 25px;
  }

  .stack-name {
    font-size: 10px;
  }

  .text-transition {
    display: block !important;
  }

  .writing-row a {
    margin-top: 0;
  }

  .logo {
    display: none;
  }

  .support-blm span {
    display: block;
    line-height: 1.9em;
  }

  .support-blm span:after, .support-blm span:before {
    height: 90px !important;
    top: -1em !important;
  }

  .main-h1 {
    font-size: calc(6vw + 6vh);
  }

  .hope-liked {
    text-align: center;
  }

  .article-body {
    padding: 0 15px;
  }
}

.pr-reviews-img {
  width: 50%;
  display: block;
  margin: 50px auto;
  border: 1px var(--dark-grey) solid;
  padding: 30px 15px;
  border-radius: 5px;
}

.reviews-list {
  list-style: none;
  padding: 0;
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-size: 16px;
}

.reviews-list li {
  padding: 5px 0 25px;
}

.reviews-list a, .reviews-list .point {
  color: var(--text-color);
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
  display: block;
}

.reviews-what-to-do {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--primary-color);
  display: inline-block;
}

.happy-coding {
  margin-top: 50px;
}

.happy-coding span {
  display: block;
}

.happy-coding span:first-child {
  font-family: ibm-plex-mono, Monaco, 'Lucida Console';
  font-weight: 600;
}

.happy-coding span:last-child {
  font-family: Kalam;
  font-size: 30px;
  margin-top: 20px;
}

.reading-time {
  font-size: 12px;
  margin: 20px 0 40px;
  color: var(--uses-secondary-color);
}

.reading-time svg {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.support-blm {
  margin: 30px 25px 25px;
  text-align: center;
}

.support-blm span {
  padding: 4px 15px 6px;
  border-radius: 4px;
  font-family: Kalam;
  letter-spacing: -.5px;
  font-size: 18px;
  color: var(--text-color);
}

.support-blm a {
  color: var(--primary-color);
}
